<ion-view view-title="Movie List">
 
    <ion-content>
     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
      
       ng-repeat="trackedItem in trackedItems" type="item-text-wrap" 
       href="#/tab/moviedetail/{{trackedItem.id}}">
             
        
         <img ng-src="http://image.tmdb.org/t/p/w92/{{trackedItem.poster_path}}">
   
        <h2>{{trackedItem.title}}</h2>
        <p>{{trackedItem.overview}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
       
      </ion-item>
     </ion-list>
     </ion-content>
</ion-view>