<ion-view view-title="{{item.title}}">
  <ion-content class="padding">
    
    <div class="list card">

  <div class="item item-avatar">

     <img ng-src="data:image/jpeg;base64,{{item.imageData}}" alt="?" style="width: 64px; height: 64px"/>
    
    <h2>{{item.title}}</h2>
    <p>lorem ipsum</p>
  </div>

  <div class="item item-body">
  
  stuff will go here
   
   
   
  </div>

</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </ion-content>
</ion-view>
