<ion-view view-title="Add Tracked Item">
  <ion-content class="padding">
   
   

   
          
           <form ng-submit="addTrackerItem(trackItemForm)" name="trackItemForm" novalidate="novalidate">
	            <label class="item item-input" ng-class="{'has-error': trackItemForm.title.$invalid}">
	              <span class="input-label">Title</span>
	              <input 
	           	  type="text" 
	              name="title" 
	              ng-model="trackerItem.title" 
	              ng-required="true" 
	              ng-minlength="5"
	              ng-maxlength="10"
	              >
	            </label>
	            
	            
	            <!--  METHOD 1 -->
	           <!-- 
	              <div class="form-errors" ng-messages="trackItemForm.title.$error" style="color: maroon" role="alert">
	      <div class="form-error" ng-message="required">You did not enter a field</div>
	      <div class="form-error" ng-message="minlength">Your field is too short</div>
	      <div class="form-error" ng-message="maxlength">Your field is too long</div>
	      </div>
	            
	           -->
	           
	           <!--  METHOD 2 --> 
	           
	            <div class="form-errors" ng-messages="trackItemForm.title.$error" style="color: maroon" role="alert">
	   <div ng-messages-include="templates/form-errors.html"></div>
	      </div>
	            
	            
	            
	            
	            <label class="item item-input" ng-class="{'has-error': trackItemForm.description.$invalid}">
	              <span class="input-label">Description</span>
	              <input type="text" 
	              name="description" 
	              ng-model="trackerItem.description" 
	              ng-required="true"
	               ng-minlength="6"
	              >
	            </label>
	            
	                  
	            <div class="form-errors" ng-messages="trackItemForm.description.$error" style="color: maroon" role="alert">
	     <div class="form-error" ng-message="minlength">Description should be at least 6 characters</div>
	   <div ng-messages-include="templates/form-errors.html"></div>
	   
	
	      </div>
	            
	            
	            
	            
	          </div>
	          <div class="padding">
	            <button class="button button-block button-positive" type="submit">
	              Add Item
	            </button>
	     
	          </div>
	          
	          <pre>{{trackerItemForm.title.$error | json}}</pre>
	          
	        
	      
	      
	      </form> 
	       
  </ion-content>
</ion-view>