<ion-view view-title="{{weather.title}}">
  <ion-content class="padding">
    

 

    
    <div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
   {{weather.name}}
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-cloud"></i>
 {{weather.weather[0].description}}
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-sunny"></i>
    Temperature: {{weather.main.temp}}
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-sunny"></i>
     Humidity: {{weather.main.humidity}}
  </a>

</div>
    
    
    
  </ion-content>
</ion-view>
