<ion-view view-title="Weather List">
 
    <ion-content>
     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
      
       ng-repeat="trackedItem in trackedItems" type="item-text-wrap" 
       href="#/tab/weatherdetail/{{trackedItem.id}}">
             
        
        
   
        <h2>{{trackedItem.name}}</h2>
       
        <i class="icon ion-chevron-right icon-accessory"></i>
       
      </ion-item>
     </ion-list>
     </ion-content>
</ion-view>