/* Empty. Add your own CSS if you like */

form.ng-submitted .has-error {border-bottom: 2px solid red}

.form-errors{ display: block;}

.form-errors.form-error {
	
	padding: 10px 10px;
	text-align: center;
	color: red;
}

xx.form-errors {
	
	display: none;
}
